@font-face {
  font-family: "Rubik", sans-serif;
  src: url('../fonts/rubik/rubik-400.woff2') format('.woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik", sans-serif;
  src: url('../fonts/rubik/rubik-400.woff2') format('.woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway", sans-serif;
  src: url('../fonts/raleway/raleway-800.woff2') format('.woff2');
  font-weight: 800;
  font-display: swap;
}

/* COMMON STYLE */

:root {
  --black: #000000;
  --dark: #444444;
  --grey: #DCDCDC;
  --light-grey: #EBEBEB;
  --light: #F0F0F0;
  --white: #FFF;
  --yellow: #ffe17f;
  --yellow-hover: #FFC700;
  --purple: #AF4FFF;
  --error: #FF3D3D;
  --warning: #FD912E;
  --success: #08AF00;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-display: swap;
  color: var(--black);
}

a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  color: var(--black);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

h1,h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 50px;
  line-height: 50px;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

li {
  font-family: "Rubik",sans-serif;
}

.btn {
  border: none;
  font-family: "Rubik",sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.navigation-list {
  list-style: none;
}

.page-link {
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

/* MAIN */

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

/* HEADER */

.page-header {
  width: 1160px; 
  margin: 0 auto; 
  background: linear-gradient(180deg, var(--white) 23%, var(--yellow) 23%);
}

.header-container {
  display: flex;
  flex-direction: column;
  width: 1040px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  align-items: center;
  width: 1040px;
  margin: 0 auto;
}

.navigation-right {
  margin-left: auto;
}

.navigation-pages {
  gap: 45px;
}

.navigation-catalog {
  display: flex;
  align-items: center;
}

.catalog-icon {
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 1px solid var(--black);
  border-radius: 50%;
  margin-left: 7px;
}

.plus {
  color: var(--black);
  background: url(/img/plus.svg) no-repeat center;
}

/* SLIDER */
.slider {
  background: linear-gradient(180deg, var(--yellow) 16%, var(--white) 16%);
}

.slider-number {
  text-align: right;
  font-size: 180px;
  font-weight: 700;
  color: var(--white);
}

.slider-container {
  display: flex;
  gap: 40px;
}

.slider-image-wrapper {
  display: flex;
  align-items: center;
}

.button-prev {
  width: 20px;
  height: 60px;
  background-image: url(../img/left-tall-arrow.svg);
}

.button-next {
  width: 20px;
  height: 60px;
  background-image: url(../img/right-tall-arrow.svg);
}

.features-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.features-item-title {
  font-size: 36px;
}

.features-item-description {
  font-size: 16px;
  color: var(--dark);
}

.slider-pagination-list {
  list-style: none;
}

/* CATALOG CATEGORIES */

.catalog-list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.section-img {
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
}

.section-description {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -.4px;
}

/* FEATURES */

/* OPTION */

.option {
  background-color: var(--light);
}

.option-description {
  color: var(--dark);
}

/* DELIVERY FORM */

.delivery-form {
  background-color: var(--light);
}

.delivery-form-title {
  font-family: "Raleway" ,sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.delivery-form-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;
  background: var(--grey) url(../img/i.svg) no-repeat center;
}

/* ABOUT */
.delivery-item {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -.4px;
}

.contacts-subtitle {
  color: var(--dark);
}

.phone {
  text-decoration: underline;
}

/* RSS */
.rss {
  background-color: var(--light);
}

.rss-description {
  color: var(--dark);
}

.rss-buttun {
  font-family: "Raleway", sans-serif;
}

.rss-icon {
  color: var(--dark);
}

/* FOOTER */

.page-footer {
  background-color: var(--dark);
}

.page-footer .page-link {
  color: var(--white);
}

.page-footer .phone {
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
}

.footer-adress {
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
}

.social-img {
  margin: 0 auto;
}

/* INNER PAGE */

/* MAIN */

/* BREADCRUMBS */

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs-item .breadcrumbs-link{
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs-icon {
  width: 4px;
  height: 7px;
  background-image: url(../img/nav-arrow.svg);
}

/* CATALOG */

.catalog-products {
  background-color: var(--light);
}

/* FILTER */

.filter-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3.2px;;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -.4px;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: var(--grey);
}

.catalog-filter-label:focus {
  border: 1px solid var(--purple);
}

.control-label {
  font-size: 16px;
  line-height: 19px;
}

/* SORTING */

.sorting-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3.2px;;
  text-transform: uppercase;
}

.select-control {
  background-color: var(--light);
  border: none;
}

.sorting-option {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;  
}

/* PRODUCTS */
.product-section {
  background-color: var(--white);
}

.product-list {
  list-style: none;
}

.product-card-title {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -.4px;
}

.product-card-price {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  color: var(--dark);
}

.pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  background-color: var(--white);
  border: 3px solid #E5E5E5;
  padding: 18px 295px;
}

.pagination {
  list-style: none;
  background-color: var(--light);
}

.pagination-prev, .pagination-next {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.2px;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  color: var(--dark);
}