@font-face {
  font-family: 'Rubic', sans-serif;
  src: url('../fonts/rubik/rubik-400.woff2') format('.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Rubic', sans-serif;
  src: url('../fonts/rubik/rubik-400.woff2') format('.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url('../fonts/raleway/raleway-800.woff2') format('.woff2');
  font-weight: 800;
}

body {
  font-family: 'Rubic', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
